Docker-Compose/First task/data
Docker-Compose/First task/log/mysql
Kubernetes/First task/docker-hello-world
Terraform/First_task/.terraform
Terraform/First_task/.terraform.lock.hcl
Terraform/First_task/example
Terraform/First_task/dev.tfvars
Terraform/First_task/stage.tfvars
Terraform/First_task/prod.tfvars
Terraform/First_task/terraform.tfvars
Terraform/First_task/modules/elasticache
Terraform/First_task/modules/elasticache1
Terraform/First_task/files/functions.php
Beanstalk-ECS/Beanstalk/django